.skills {
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.skills-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Ensures the layout is responsive */
}

.skill-category {
  flex: 1;
  margin: 10px;
  min-width: 200px; /* Ensures a minimum width for each category */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.skill-category h3 {
  color: #ffdd57;
}

.skill-category ul {
  list-style-type: none;
  padding-left: 0;
}

.skill-category li {
  margin: 5px 0;
  color: #fff; /* Change color as per your design */
}
